<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h5>edit your id <%= chat._id %></h5>
    <p>this chat was sent from <b><%= chat.from %></b>to:<b><%= chat.to %></b></p>
    <form method="POST"action="/chats/<%=  %>">
        <textarea name="message"row="15" cols="20"><%= chat.message %></textarea><br>
        <button>edit</button>
    </form>
</body>
</html>